[submodule ".vim/bundle/vim-notes"]
	path = .vim/bundle/vim-notes
	url = git@github.com:thraizz/vim-notes.git
[submodule "i3-gaps-next-git"] 
    path = aur/i3-gaps-next-git
    url = https://aur.archlinux.org/i3-gaps-next-git.git
[submodule "picom-git"] 
    path = aur/picom-git
    url = https://aur.archlinux.org/picom-git.git
[submodule "polybar"] 
    path = aur/polybar
    url = https://aur.archlinux.org/polybar.git
[submodule "ranger-git"] 
    path = aur/ranger-git
    url = https://aur.archlinux.org/ranger-git.git
[submodule "indentLine"] 
    path = .vim/bundle/indentLine
    url = https://github.com/Yggdroot/indentLine
[submodule "nerdcommenter"] 
    path = .vim/bundle/nerdcommenter
    url = https://github.com/preservim/nerdcommenter
[submodule "nerdtree"] 
    path = .vim/bundle/nerdtree
    url = https://github.com/preservim/nerdtree
