[submodule "firefox"]
	path = aur/firefox
	url = https://aur.archlinux.org/firefox-beta-bin.git
[submodule "i3-gaps-next-git"]
	path = aur/i3-gaps-next-git
	url = https://aur.archlinux.org/i3-gaps-next-git.git
[submodule "rofi"]
	path = aur/rofi
	url = https://aur.archlinux.org/rofi-git.git
[submodule "polybar"]
	path = aur/polybar
	url = https://aur.archlinux.org/polybar.git
[submodule "vscodium-bin"]
	path = aur/vscodium-bin
	url = https://aur.archlinux.org/vscodium-bin.git
[submodule "docker-compose"]
	path = aur/docker-compose
	url = https://aur.archlinux.org/docker-compose.git
[submodule "docker-git"]
	path = aur/docker-git
	url = https://aur.archlinux.org/docker-git.git
[submodule "lightdm-webkit2-greeter"]
	path = aur/lightdm-webkit2-greeter
	url = https://aur.archlinux.org/lightdm-webkit2-greeter.git
[submodule "lutris"]
	path = aur/lutris
	url = https://aur.archlinux.org/lutris.git
[submodule "mongodb-bin"]
	path = aur/mongodb-bin
	url = https://aur.archlinux.org/mongodb-bin.git
[submodule "notion-app"]
	path = aur/notion-app
	url = https://aur.archlinux.org/notion-app.git
[submodule "obs-studio-git"]
	path = aur/obs-studio-git
	url = https://aur.archlinux.org/obs-studio-git.git
[submodule "picom-git"]
	path = aur/picom-git
	url = https://aur.archlinux.org/picom-git.git
[submodule "peek"]
	path = aur/peek
	url = https://aur.archlinux.org/peek.git
[submodule "ranger-git"]
	path = aur/ranger-git
	url = https://aur.archlinux.org/ranger-git.git
[submodule "spotify"]
	path = aur/spotify
	url = https://aur.archlinux.org/spotify.git
[submodule "thunderbird-beta-bin"]
	path = aur/thunderbird-beta-bin
	url = https://aur.archlinux.org/thunderbird-beta-bin.git
[submodule "tmux-git"]
	path = aur/tmux-git
	url = https://aur.archlinux.org/tmux-git.git
[submodule "nvim"]
	path = .config/nvim
	url = git@github.com:thraizz/dotfiles-nvim.git
