[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Comment="Start tmux in urxvt"
Exec=bash -c "$HOME/scripts/start_tmux.sh"
Icon=terminal
Terminal=false
StartupNotify=false
Categories=Application;
