[Desktop Entry]
Version=1.0
Type=Application
Name=Ranger
Comment=ranger
Exec=/home/arons/scripts/i3-open-ranger.sh
Icon=/home/arons/.local/share/applications/ranger.png
Terminal=false
StartupNotify=false
Categories=Application;
