[Desktop Entry]
Version=1.0
Type=Application
Name=Ranger
Comment=ranger
Exec=bash -c "$HOME/scripts/i3-open-ranger.sh"
Icon=ranger
Terminal=false
StartupNotify=false
Categories=Application;
