[Desktop Entry]
Type=Application
Comment=Suspend the system.
Name=Sleep Displays
Icon=/home/arons/Pictures/timer.png
Exec=sh -c "sleep 1 && xset -display :0.0 dpms force off"
Terminal=false
Catagories=Utility
