[Desktop Entry]
Type=Application
Name=Timer
Icon=/home/arons/Pictures/wow_icon.png
Exec=zsh -c "source ~/.zshrc && ~/scripts/start_termdown.py;$SHELL"
Terminal=false
Catagories=Utility
