[Desktop Entry]
Type=Application
Name=World of Warcraft
Comment=Launch World of Warcraft over Wine
Icon=/home/arons/Pictures/wow_icon.png
Exec=zsh -c "source ~/.zshrc && wine /mnt/disk1/World\ of\ Warcraft\ Classic/World\ of\ Warcraft/World\ of\ Warcraft\ Launcher.exe"
Terminal=false
Catagories=Games
